@model IEnumerable<FlavorFind.BusLogic.Model.Recipe>

@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/recipe-feed.css" />
<div class="container">
    <h2>My Recipes</h2>
    @if (Model != null && Model.Any())
    {
        foreach (var recipe in Model)
        {
            <a asp-action="Details" asp-route-id="@recipe.Id" class="a-tag-container">
                <div class="recipe-card">
                    <h3>@recipe.Name</h3>
                    <p>@recipe.Category</p>
                    <p>@recipe.Description</p>
                </div>
            </a>
        }
    }
    else
    {
        <p>No recipes found.</p>
    }
</div>
<style>
    .container {
        width: 600px;
        border-radius: 24px;
        overflow: hidden;
        background-color: #262626;
        margin-top: 40px;
        padding: 0;
    }

    .recipe-card {
        width: 100%;
        padding: 30px;
        border-bottom: 1px solid #888;
    }

    h2 {
        padding: 30px;
        border-bottom: 1px solid #888;
    }

    .a-tag-container {
        text-decoration: none;
        color: inherit;
        outline: none;
        display: block;
    }

    .a-tag-container * {
        color: inherit;
    }

    .a-tag-container:hover * {
        color: #FFD700;
        background-color: #333;
    }
</style>