@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<link rel="stylesheet" href="~/css/login.css" />
<div class="login-container">
    <form method="post">
        <input type="email" name="email" placeholder="Enter your email" class="input-field" />
        <div class="password-wrapper">
            <input type="password" name="password" placeholder="Enter your password" class="input-field" id="passwordInput" />
        </div>

        <div class="forgot">
            <a href="#">Forgot Password?</a>
        </div>

        @if (ViewBag.Error != null)
        {
            <p style="color: red;">@ViewBag.Error</p>
        }

        <button type="submit" class="login-button">Login</button>
    </form>
</div>

<script>
    function togglePassword() {
        var pwd = document.getElementById("passwordInput");
        pwd.type = pwd.type === "password" ? "text" : "password";
    }
</script>