@{
    ViewData["Title"] = "Login";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<style>
    body {
        background-color: #121212;
        color: white;
        font-family: sans-serif;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        max-width: 1200px;
    }

    .logo-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
    }


    .tagline-section {
        text-align: left;
    }

    .tagline {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        line-height: 1.5;
        font-size: 36px;
        margin-bottom: 40px;
    }

    .btn {
        display: block;
        width: 412px;
        padding: 15px;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    .btn-login {
        background-color: #3B3B3B;
        color: white;
    }

    .btn-register {
        background-color: transparent;
        color: white;
        border: 2px solid #FFBA08;
    }

    .btn-login:hover {
        background-color: #444444;
    }

    .btn-register:hover {
        background-color: rgba(245, 166, 35, 0.1);
    }

    .logo-bottom {
        position: relative;
        top: -20px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .form-input {
        width: 100%;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: #1e1e1e;
        color: white;
        font-size: 16px;
        outline: none;
    }

    .password-container {
        position: relative;
        width: 100%;
    }

    .password-container .form-input {
        padding-right: 40px;
    }

    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #888;
    }

    .forgot-password {
        align-self: flex-end;
        font-size: 14px;
        color: #888;
        text-decoration: none;
        margin-top: -10px;
    }

    .forgot-password:hover {
        color: #ffba08;
    }

    .btn-login {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #444;
        color: white;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }

    .btn-login:hover {
        background-color: #555;
    }
</style>

<div class="container">
    <div class="logo-section">
        <svg class="logo-top" width="220" height="220" viewBox="0 0 223 387" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect x="0.14502" y="40.4928" width="147.246" height="147.246" fill="#D00000" />
            <rect x="75.6089" y="115.957" width="147.246" height="147.246" fill="#FFBA08" />
            <g filter="url(#filter0_d_196_753)">
                <rect x="75.6089" y="115.957" width="71.7826" height="71.7826" fill="#DC2F02" />
            </g>
            <path
                d="M30.7723 168.423C30.7723 164.183 31.7146 159.785 33.5994 155.23C35.4842 150.518 37.9972 146.199 41.1384 142.272C44.2797 138.189 47.6565 135.126 51.269 133.084L122.654 91.8551V115.415L51.269 156.644V239.101C51.269 234.861 52.2113 230.463 54.0961 225.908C55.9808 221.196 58.4153 216.877 61.3995 212.951C64.5408 208.867 67.9176 205.804 71.5301 203.762L122.654 174.313V197.872L51.269 239.101V298L30.7723 309.78V168.423ZM122.654 174.313L71.5301 203.762C67.9176 205.804 64.5408 208.867 61.3995 212.951C58.4153 216.877 55.9808 221.196 54.0961 225.908C52.2113 230.463 51.269 234.861 51.269 239.101L30.7723 227.322C30.7723 223.081 31.7146 218.683 33.5994 214.128C35.4842 209.417 37.9972 205.097 41.1384 201.171C44.2797 197.087 47.6565 194.024 51.269 191.983L102.157 162.533L122.654 174.313ZM122.654 91.8551L51.269 133.084C47.6565 135.126 44.2797 138.189 41.1384 142.272C37.9972 146.199 35.4842 150.518 33.5994 155.23C31.7146 159.785 30.7723 164.183 30.7723 168.423V309.78L10.2756 298V156.644C10.2756 152.403 11.2179 148.005 13.1027 143.45C14.9875 138.738 17.5005 134.419 20.6417 130.493C23.783 126.409 27.1598 123.346 30.7723 121.304L102.157 80.0754L122.654 91.8551Z"
                fill="white" />
            <defs>
                <filter id="filter0_d_196_753" x="68.2466" y="115.957" width="86.5074" height="86.5072"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="7.36232" />
                    <feGaussianBlur stdDeviation="3.68116" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_196_753" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_196_753" result="shape" />
                </filter>
            </defs>
        </svg>

        <svg class="logo-bottom" width="300" height="56" viewBox="0 0 375 56" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M15.3543 28.1892H35.7626V39.9837H15.3543V28.1892ZM16.4144 54.8261H0.77687V8.4435H38.4793V20.2379H16.4144V54.8261ZM42.9555 54.8261V5.66054H57.9305V54.8261H42.9555ZM86.5003 54.8261V48.3988L85.4401 46.676V34.484C85.4401 32.7171 84.888 31.3698 83.7836 30.4421C82.7235 29.5145 80.9786 29.0506 78.549 29.0506C76.9146 29.0506 75.2581 29.3157 73.5795 29.8458C71.9008 30.3317 70.4652 31.0164 69.2725 31.8998L64.5017 22.027C66.6221 20.7018 69.1621 19.6858 72.1217 18.979C75.0814 18.2722 77.9748 17.9188 80.8019 17.9188C87.0304 17.9188 91.8454 19.3103 95.2468 22.0932C98.6923 24.8762 100.415 29.2936 100.415 35.3454V54.8261H86.5003ZM76.2299 55.4887C73.2702 55.4887 70.7965 54.9807 68.8087 53.9647C66.8208 52.9487 65.3189 51.6014 64.3029 49.9228C63.2869 48.2 62.7789 46.3005 62.7789 44.2244C62.7789 41.8832 63.3753 39.8953 64.568 38.2609C65.7607 36.6265 67.5718 35.3896 70.0014 34.5503C72.4751 33.711 75.5894 33.2913 79.3441 33.2913H86.8979V40.5138H81.7295C80.1393 40.5138 78.9687 40.7788 78.2177 41.3089C77.5109 41.7948 77.1575 42.5458 77.1575 43.5618C77.1575 44.4011 77.4668 45.1078 78.0852 45.6821C78.7478 46.2122 79.6313 46.4772 80.7356 46.4772C81.7516 46.4772 82.6793 46.2122 83.5186 45.6821C84.4021 45.1078 85.0426 44.2244 85.4401 43.0317L87.3617 47.4712C86.7875 50.1658 85.5727 52.1757 83.7174 53.5009C81.8621 54.8261 79.3662 55.4887 76.2299 55.4887ZM116.51 54.8261L101.933 18.5814H117.305L128.371 48.0012H120.618L132.413 18.5814H146.593L132.015 54.8261H116.51ZM167.061 55.4887C162.953 55.4887 159.309 54.6936 156.128 53.1033C152.992 51.4689 150.518 49.2381 148.707 46.411C146.896 43.5838 145.99 40.3371 145.99 36.6706C145.99 33.0042 146.896 29.7574 148.707 26.9303C150.518 24.1032 152.992 21.8945 156.128 20.3042C159.309 18.7139 162.953 17.9188 167.061 17.9188C171.169 17.9188 174.814 18.7139 177.994 20.3042C181.175 21.8945 183.648 24.1032 185.415 26.9303C187.227 29.7574 188.132 33.0042 188.132 36.6706C188.132 40.3371 187.227 43.5838 185.415 46.411C183.648 49.2381 181.175 51.4689 177.994 53.1033C174.814 54.6936 171.169 55.4887 167.061 55.4887ZM167.061 43.8268C168.165 43.8268 169.159 43.5618 170.043 43.0317C170.926 42.5016 171.633 41.7065 172.163 40.6463C172.693 39.5419 172.958 38.2167 172.958 36.6706C172.958 35.0804 172.693 33.7772 172.163 32.7612C171.633 31.7011 170.926 30.9059 170.043 30.3758C169.159 29.8458 168.165 29.5807 167.061 29.5807C165.957 29.5807 164.963 29.8458 164.079 30.3758C163.196 30.9059 162.489 31.7011 161.959 32.7612C161.429 33.7772 161.164 35.0804 161.164 36.6706C161.164 38.2167 161.429 39.5419 161.959 40.6463C162.489 41.7065 163.196 42.5016 164.079 43.0317C164.963 43.5618 165.957 43.8268 167.061 43.8268ZM192.819 54.8261V18.5814H207.065V29.5145L204.746 26.4002C205.85 23.5731 207.617 21.4527 210.047 20.0392C212.476 18.6256 215.392 17.9188 218.793 17.9188V31.171C218.131 31.0826 217.534 31.0164 217.004 30.9722C216.518 30.928 216.01 30.9059 215.48 30.9059C213.227 30.9059 211.372 31.5023 209.914 32.695C208.501 33.8435 207.794 35.8534 207.794 38.7247V54.8261H192.819Z"
                fill="white" />
            <path
                d="M238.079 28.1892H258.487V39.9837H238.079V28.1892ZM239.139 54.8261H223.501V8.4435H261.204V20.2379H239.139V54.8261ZM265.68 54.8261V18.5814H280.655V54.8261H265.68ZM273.168 15.6659C270.429 15.6659 268.242 14.9371 266.608 13.4793C264.973 12.0216 264.156 10.2105 264.156 8.04593C264.156 5.88141 264.973 4.07028 266.608 2.61254C268.242 1.1548 270.429 0.425932 273.168 0.425932C275.906 0.425932 278.093 1.11063 279.727 2.48002C281.362 3.84941 282.179 5.61637 282.179 7.78089C282.179 10.0779 281.362 11.9774 279.727 13.4793C278.093 14.9371 275.906 15.6659 273.168 15.6659ZM312.472 17.9188C315.255 17.9188 317.773 18.4931 320.025 19.6416C322.278 20.7459 324.045 22.4908 325.326 24.8762C326.651 27.2616 327.314 30.3538 327.314 34.1527V54.8261H312.339V36.7369C312.339 34.484 311.942 32.8938 311.146 31.9661C310.351 30.9943 309.269 30.5084 307.9 30.5084C306.884 30.5084 305.934 30.7513 305.05 31.2372C304.211 31.679 303.526 32.4299 302.996 33.4901C302.51 34.5503 302.267 35.9859 302.267 37.7971V54.8261H287.293V18.5814H301.539V29.1832L298.689 26.1352C300.103 23.3964 302.002 21.3423 304.388 19.9729C306.817 18.6035 309.512 17.9188 312.472 17.9188ZM350.367 55.4887C347.231 55.4887 344.315 54.7378 341.621 53.2358C338.97 51.6898 336.85 49.5252 335.26 46.7423C333.669 43.9152 332.874 40.5579 332.874 36.6706C332.874 32.7833 333.669 29.4482 335.26 26.6652C336.85 23.8381 338.97 21.6736 341.621 20.1717C344.315 18.6698 347.231 17.9188 350.367 17.9188C353.548 17.9188 356.154 18.6035 358.186 19.9729C360.218 21.2981 361.72 23.3522 362.692 26.1352C363.663 28.8739 364.149 32.3858 364.149 36.6706C364.149 40.9997 363.686 44.5557 362.758 47.3386C361.874 50.1216 360.417 52.1757 358.385 53.5009C356.397 54.8261 353.724 55.4887 350.367 55.4887ZM353.945 43.8268C355.05 43.8268 356.043 43.5618 356.927 43.0317C357.81 42.5016 358.517 41.7065 359.047 40.6463C359.577 39.5419 359.842 38.2167 359.842 36.6706C359.842 35.0804 359.577 33.7772 359.047 32.7612C358.517 31.7011 357.81 30.9059 356.927 30.3758C356.043 29.8458 355.05 29.5807 353.945 29.5807C352.841 29.5807 351.847 29.8458 350.963 30.3758C350.08 30.9059 349.373 31.7011 348.843 32.7612C348.313 33.7772 348.048 35.0804 348.048 36.6706C348.048 38.2167 348.313 39.5419 348.843 40.6463C349.373 41.7065 350.08 42.5016 350.963 43.0317C351.847 43.5618 352.841 43.8268 353.945 43.8268ZM360.306 54.8261V49.9228L360.24 36.6706L359.577 23.4185V5.66054H374.552V54.8261H360.306Z"
                fill="#FFBA08" />
        </svg>

    </div>

    <div class="tagline-section">
        <div class="tagline">
            Nomadic. Nostalgic.<br>New.
        </div>
        <div class="login-form"></div>
        <input type="email" class="form-input" placeholder="Enter your email" />
        <div class="password-container">
            <input type="password" class="form-input" placeholder="Enter your password" />
            <span class="toggle-password">
                <i class="fas fa-eye"></i>
            </span>
        </div>
        <a href="#" class="forgot-password">Forgot Password?</a>
        <button class="btn-login">Login</button>
    </div>
</div>
</div>