@{
    ViewData["Title"] = "Registration Page";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<link rel="stylesheet" href="~/css/register.css" />
<div class="login-container">
    <form method="post">
        <input type="text" name="username" placeholder="Username" class="input-field" />
        <input type="email" name="email" placeholder="Email" class="input-field" />
        <div class="password-wrapper">
            <input type="password" name="password" placeholder="Password" class="input-field" id="passwordInput" />
        </div>
        <div class="password-wrapper">
            <input type="password" name="password" placeholder="Confirm Password" class="input-field" id="passwordInput" />
        </div>

        <button type="submit" class="register-button">Register</button>
    </form>
</div>